body {
	background-image: url("http://wallpapercave.com/wp/jQtYNjK.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    text-align: center;
    

}




#wrapper {
	font-family: 'Freckle Face', cursive;
	color: #0fe04c;
	background-color: #030e06;
	
}

#h1 {
	font-size: 10px;
}

#instructions {
	font-size: 26px;
}







#skulls {
	background: #ececec;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: #030e06;
}