body {
	background-image: url("http://wallpapercave.com/wp/jQtYNjK.png");
	background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center; 
    text-align: center;
    

}




#wrapper {
	font-family: 'Freckle Face', cursive;
	color: #0fe04c;
	
	
}


#box {
	background: #030e06;
}

h1 {
	font-size: 50px;
	background: #030e06;
}

#instructions {
	font-size: 26px;
	background: #030e06;
}

#totalScore {
	background: #030e06;
	margin-bottom: auto;
	font-size: 40px;
}







#skulls {
	margin-left: auto;
	margin-right: auto;
}